header {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 8rem auto 2rem;
}
h1 {
  font-size: 4rem;
  font-weight: 500;
  padding-right: 1rem;
}
.b-hive {
  height: 5rem;
}
.projects-list {
  display: flex;
  align-items: center;
  width: max-content;
  margin: auto;
}
.project-item {
  margin: 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  && > img {
    border-radius: 2rem;
    width: 16rem;
  }
  &&:hover {
    transform: scale(1.2);
  }
}
.unavailable {
  cursor: help;
  opacity: 0.5;
  && > img:hover {
    border-style: solid;
    border-width: 2px;
    border-color: red;
  }
}
