body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  flex-direction: column;
  margin: 6rem 0px 1rem 0px;
}
img {
  width: 7rem;
  align-self: center;
}
h1 {
  font-size: 3.6rem;
  font-weight: 700;
}
h2 {
  padding-left: 0.4rem;
  font-size: 1.7rem;
  font-weight: 600;
}
.form-item {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.inputfield {
  margin: 0.4rem 0px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 0.2rem;
}
