body {
  display: flex;
  flex-direction: column;
  align-items: center;
  &&:hover {
    cursor: default;
  }
}
header {
  display: flex;
  flex-direction: column;
  margin: 6rem 0px 1rem 0px;
}
img {
  width: 7rem;
  align-self: center;
}
h1 {
  font-size: 3.6rem;
  font-weight: 700;
}
h2 {
  padding-left: 0.4rem;
  font-size: 1.7rem;
  font-weight: 600;
}
.form-item {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 15rem;
}
.inputfield {
  margin: 0.4rem 0px;
  padding: 0.2rem 0px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 0.2rem;
  &&:hover {
    cursor: text;
  }
}
input[type="password"] {
  font-family: Verdana;
}
.submit-buttons > * {
  align-self: center;
  text-align: center;
  border-style: solid;
  border-radius: 1rem;
  border-width: 1px;
  width: 75%;
  margin: 0.2rem;
  padding: 0.4rem;
  &&:first-of-type {
    text-align: left;
    color: white;
    background-color: black;
  }
  &&:hover {
    cursor: pointer;
  }
}
.forgot-password {
  opacity: 0.8;
  text-decoration: underline;
  font-size: 0.8rem;
  padding: 0.7rem 0px;
}
